<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39699677984-vb7fsird14qq1lrmt9vjdn9a77an801t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39699677984-vb7fsird14qq1lrmt9vjdn9a77an801t</string>
	<key>API_KEY</key>
	<string>AIzaSyAnMXodhSk8RyTfCTran_irzmhNplttZtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>39699677984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glebov.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-37908</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-37908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39699677984:ios:f95ebb0651ff8a6be08d45</string>
</dict>
</plist>